<!DOCTYPE html>
<html dir="ltr" xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="StyleVue.css">
<title>Welcome</title>

</head>
<body>

<br><br><br>
<h1 style="text-align:center"> Bienvenue, <span th:text="${etudiant.getNom()}"></span> <span th:text="${etudiant.getprenom()}"></span></h1>

<br>
		<h2 class="centerh2">Vous n'avez aucun cour Pour l'instant.</h2>
		<form th:action="@{/TableauEtud}" method="get">
		<input name="uidetd" type="hidden" th:value="${etudiant.getCode_etudiant()}">
		<br><br>
		<button class="centerbtn" type="submit">Afficher Mes Absences</button>
		</form>
		<br><br>
		<form th:action="@{/index}" method="get">
		<button class="centerbtn" type="submit">Retour</button>
		</form>
</body>

</html>